/* css/common.css
  테두리 공통박스 스타일 */
  * {
    margin: 0; 
    padding: 0;
  }
  
  body{
    background-image:  url(http://wooreeweb.com/img/grid.gif);
  }
  
  div {
    width: 100px;
    height: 100px;
    background-color: gold;
    margin: 20px;
    border-width: 10px;
    text-align: center;
    line-height: 100px;
  }